@model UyeSayfasiViewModel
@{
    ViewBag.Title = "Kullanici Detay";
}

<h2>Kullanici Detay</h2>

<table class="table">
    <tr>
        <td>Ad</td>
        <td>@Model.Kullanici.Ad</td>
    </tr>
    <tr>
        <td>Soyad</td>
        <td>@Model.Kullanici.Soyad</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Kullanici.Email</td>
    </tr>
    <tr>
        <td>Kullanıcı Adı</td>
        <td>@Model.Kullanici.KullaniciAdi</td>
    </tr>
    <tr>
        <td>Şifre</td>
        <td>@Model.Kullanici.Sifre</td>
    </tr>
</table>

<h2>Adres Bilgisi</h2>

<table class="table">
    <tr>
        <td>Şehir</td>
        <td>@Model.Adres.Sehir</td>
    </tr>
    <tr>
        <td>İlçe</td>
        <td>@Model.Adres.Ilce</td>
    </tr>
    <tr>
        <td>Acik Adres</td>
        <td>@Model.Adres.AcikAdres</td>
    </tr>
</table>